<div class="container">
  <h1>Страница пользователя</h1>

  <table class="table">
    <tbody>
    <tr>
      <th>Фамилия</th>
      <td>Иванов</td>
    </tr>
    <tr>
    <tr>
      <th>Имя</th>
      <td>Иван</td>
    </tr>
    <tr>
      <th>Отчество</th>
      <td>Иванович</td>
    </tr>
    <tr>
      <th scope="row">email</th>
      <td>Jacob</td>
    </tr>
    <tr>
      <th>Пол</th>
      <td>Мужской <button class="btn btn-success mb-3">Подтвердить</button></td>
    </tr>
    </tbody>
  </table>
</div>